<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pk.edu.pucit.mc.finaltermquestion6"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="pk.edu.pucit.mc.finaltermquestion6.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
      	<activity
            android:name="pk.edu.pucit.mc.finaltermquestion6.AddTeacherActivity"
            android:label="@string/title_activity_add_teacher" >
        </activity>
        <activity
            android:name="pk.edu.pucit.mc.finaltermquestion6.AddStudentActivity"
            android:label="@string/title_activity_add_student" >
        </activity>
        <activity
            android:name="pk.edu.pucit.mc.finaltermquestion6.ShowStudentsActivity"
            android:label="@string/title_activity_show_students" >
        </activity>
        <activity
            android:name="pk.edu.pucit.mc.finaltermquestion6.ShowTeachersActivity"
            android:label="@string/title_activity_show_teachers" >
        </activity>
    </application>

</manifest>